.productsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  margin: 20px 0;
  padding: 80px;
}

.productCard {
  position: relative; /* Aseguramos que la tarjeta sea el contenedor relativo */
  border: 1px solid #500808;
  border-radius: 8px;
  overflow: hidden;
   /* Aseguramos que el contenido flotante quede contenido */
}

.productImage {
  position: relative;
  height: 400px;
  border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
}
.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  color: #041938;
}

.productOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(53, 14, 14, 0.5); /* Fondo semi-transparente */
  padding: 10px 250px 10px 40px; /* Espaciado interno para la información */
}

.productInfo {
  color: white;
   /* Texto en blanco para contraste */
}
.productInfo h2 {
  color: rgb(254, 218, 135);
   /* Texto en blanco para contraste */
}

.centeredImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Asegura que la imagen ocupe todo el alto del contenedor */
}







.svgContainer {
  position: relative;
  margin-top: 2rem; /* Ajusta el margen superior según tus necesidades */
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
